.reactiveform{
  padding:0px;
  padding-left: 0%;
  margin-bottom:2rem;
  background-color:#e9ecef;
  
  width:100%;
  border-radius:.3rem}
.container{
  width:100%;
   margin-right:auto;
  margin-left:auto}
.row{
  display:-ms-flexbox;
  display:flex;
   max-width:75%;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:auto;
  margin-left:auto}
.col{
  -ms-flex:0 0 50%;
  flex:0 0 50%;
  max-width:50%}
.column{
  margin-left:25%}
.form-group{
  margin-bottom:1rem;}
.invalid-feedback{
  width:100%;
  margin-top:.25rem;
  font-size:80%;
  color:#dc3545}
  .form-control{
    display:block;
    width:100%;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}
  .form-control:invalid{
    border-color:#dc3545}
  .btn:hover{
    color:#fff;
    background-color:#0069d9;
    border-color:#0062cc}
  .btn{
    display:inline-block;
    font-weight:400;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; color:#fff;background-color:#007bff;border-color:#007bff}
  .btn:focus{
    box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}
  .popup__close-btn {
    border: 0;
    background: none;
    color: #2d2d2d;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
  }
  .dialog {
    z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    top: 25px;
    margin-right: auto;
    margin-left: auto;
    min-height: 100px;
    width: 100%;
    max-width: 500px;
    background-color:#e9ecef;
    padding: 0px;
    box-shadow: 0 5px 8px -4px rgba(114, 77, 77, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  }
  
  